profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'research'
            memory = '100 GB'
            cpus = 16
            time = '92h'
            conda {
                enabled = true
                environment = "/hps/software/users/jlees/lale/miniconda3/envs/ggc_env" // 
            }
        }
    }
}


